
.formlbg {
    background-image: url("../Assets/login.png");
    background-size: cover;
}
  .formlogin{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

      
}
.labellogin{
    color: aliceblue;
}