
.formbg {
    background-image: url('../Assets/loginpg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.form-group label{
    color: aliceblue;

}
  
